#include "secrets.h"
#include <Arduino.h>

//============================================================//
// WiFi
//============================================================//

const char *WIFI_SSID = "Nome da rede WiFi";
const char *WIFI_SENHA = "Senha da rede WiFi";

//============================================================//
// AWS
//============================================================//

const bool USAR_AWS_IOT = true;

const char *AWS_IOT_CLIENT_ID = "ID da AWS";

const char AWS_CERT_CA[] PROGMEM = "Certificado CA";

const char AWS_CERT_CRT[] PROGMEM = "Certificado CRT";

const char AWS_CERT_PRIVATE[] PROGMEM = "Certificado PRIVATE";

const char *AWS_IOT_ENDPOINT = "URL do endpoint da AWS";

const int AWS_IOT_PORT = 8883;

//============================================================//
// MQTT
//============================================================//

const char *MQTT_BROKER = "URL do broker MQTT";
const int MQTT_PORTA = 8883;

const char *MQTT_CLIENT_ID = "ID do MQTT";

const char *MQTT_USUARIO = "Usuario do MQTT";
const char *MQTT_SENHA = "Senha do MQTT";

const bool MQTT_USAR_TLS = false; //* Modo de conexão sem segurança.

const char MQTT_CERTIFICADO_CA[] PROGMEM = "Certificado CA";

const char *TOPICOS_PUBLICAR[] = {
    "Topicos para publicação"};

const int TOTAL_TOPICOS_PUBLICAR = sizeof(TOPICOS_PUBLICAR) / sizeof(TOPICOS_PUBLICAR[0]);

const char *TOPICOS_RECEBER[] = {
    "Topicos para recebimento"};

const int TOTAL_TOPICOS_RECEBER = sizeof(TOPICOS_RECEBER) / sizeof(TOPICOS_RECEBER[0]);

//============================================================//
// DEBUG
//============================================================//

// 0 = SEM MENSAGENS
// 1 = APENAS ERROS
// 2 = TODAS AS MENSAGENS
const int DEBUG_NIVEL_INICIAL = 2;

// PINO USADO PARA FORÇAR TODAS AS MENSAGENS NA INICIALIZAÇÃO
const int PINO_HABILITA_DEBUG_COMPLETO = 4;